export(CreateCLIPPRObject)
export(runFeatureSelection)
export(runBULKFS)
export(runSCELLFS)
export(RFClass)
export(makeTrain)
export(SigExpMatMkr)
export(runClassifier)
export(extractCNVSignal)
export(runCNVClassifier)
export(runMetaModel)